#results article:not(:nth-of-type(3n)), #results img, #results #results article {
  box-sizing: border-box;
  border: #ff0000;
  padding: 2rem;
  position: relative; }

.searchForm {
  width: 100%;
  position: relative; }

.searchMovie {
  float: left;
  width: 100%;
  border: 3px solid #006400;
  padding: 5px;
  height: 20px;
  border-radius: 3px;
  color: #006400;
  font-size: 20px;
  font-style: bold; }

.searchButton {
  position: absolute;
  right: -60px;
  width: 40px;
  height: 36px;
  border: 1px solid #006400;
  background: #006400;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  font-size: 21px; }

.searchMovies {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 62.5%;
  background-color: #ffe6e6; }

nav {
  float: right;
  padding: 2px;
  list-style-type: none;
  text-decoration: none; }
  nav ul li {
    display: inline-block;
    color: #ff0000; }
  nav a {
    float: right;
    padding: 2px;
    list-style-type: none;
    text-decoration: none; }

#results article:not(:nth-of-type(3n)) {
  margin-right: 4rem; }

#results img {
  width: calc(100% + 4rem);
  top: -2rem;
  left: -2rem; }

#results {
  display: none; }
  #results #results article {
    float: left;
    width: calc(100%/3 - 8rem/3);
    margin-bottom: 4rem; }

/*# sourceMappingURL=main.css.map */
