//This is for the search bar and the button
.searchForm
{
    width: 100%;
    position: relative;
}
.searchMovie
{
    float: left;
    width: 100%;
    border: 3px solid $search-color;
    padding: 5px;
    height: 20px;
    border-radius: 3px;
    color: $search-color;
	font-size: 20px;
	font-style: bold;
}

.searchButton {
    position: absolute;  
    right: -60px;
    width: 40px;
    height: 36px;
    border: 1px solid $search-color;
    background: $search-color;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
	font-size: 21px;
  }
  
  .searchMovies{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }