//SCSS For API Search App
@import '_partialVariables';
@import '_partialExtend';
@import '_partialMixins';
@import '_partialSearch';

//regular defaults
body
{
    font-family: $font-stack;
    color: $font-color;
    font-size: $font-size;
	background-color: #ffe6e6;
}

//Nesting
nav
{
    @include headers;
    ul li 
    {
        display: inline-block;
        color: $action-color;
    }
    a 
    {
        @include headers;
    }
}
//Setting up how the results will show WHEN search is populated the page
#results article:not(:nth-of-type(3n))
{
    margin-right: 4rem;
    @extend %result;
}
#results img
{
    width: calc(100% + 4rem);
    top: -2rem;
    left: -2rem;
    @extend %result;
}
//nesting
#results
{
    display: none;
    #results article
    {
        float: left;
        @extend %result;
        width: calc(100%/3 - 8rem/3);
        margin-bottom: 4rem;
    }
}
